html {
  scroll-behavior: smooth;
}

.locais {
  height: 800px;
  background-size: cover;
  background-position: center;
  background-image: url("./img/img_locais.png");
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.titulo_locais {
  color: var(--branco);
  font-weight: 500;
  text-align: center;
  font-size: 50px;
}

.locais_container {
  display: flex;
}

.locais_atendimento {
  background-color: var(--branco);
  border-radius: 20px;
  color: var(--verde);
  padding: 60px 110px;
  text-align: center;
  margin: 90px 0;
}

.locais_atendimento:first-child {
  margin-right: 60px;
}

.locais_atendimento:last-child {
  margin-left: 60px;
}

.img_locais {
  height: 90px;
  margin-bottom: 20px;
}

p {
  font-size: 22px;
  font-weight: 500;
}

h3 {
  background-color: #c6efef;
  border-radius: 15px;
  color: var(--verde);
  padding: 20px 30px;
  font-size: 25px;
  font-weight: 700;
}

@media (max-width: 780px) {
  .titulo_locais {
    font-size: 40px;
  }

  .locais_container {
    display: block;
  }

  .locais_atendimento:first-child {
    margin-right: 0px;
  }

  .locais_atendimento:last-child {
    margin-left: 0px;
  }

  .locais_atendimento {
    padding: 25px 40px;
    margin: 50px 0;
  }

  .img_locais {
    height: 70px;
    margin-bottom: 20px;
  }
}

@media (max-width: 560px) {
  .titulo_locais {
    font-size: 28px;
  }
  p {
    font-size: 20px;
  }
}

@media (max-width: 360px) {
  .titulo_locais {
    font-size: 25px;
  }
  h3 {
    padding: 15px 15px;
    font-size: 22px;
  }
  .locais_atendimento {
    padding: 20px 35px;
  }
  .img_locais {
    height: 60px;
  }
  p {
    font-size: 18px;
  }
}
