footer {
  height: 140px;
  background-color: var(--verde);
}
.rodape {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 100px;
}
.logo-rodape {
  width: 70px;
  margin-top: 20px;
}
.paragrafo_rodape {
  color: var(--branco);
  font-size: 15px;
  font-weight: 200;
  margin-top: 10px;
}
.thaina {
  text-decoration: none;
  color: var(--branco);
  font-size: 15px;
  font-weight: 300;
  margin-left: 0;
}

@media (max-width: 780px) {
  footer {
    height: 120px;
  }
  .logo-rodape {
    width: 60px;
    margin-top: 15px;
  }
  .paragrafo_rodape {
    font-size: 12px;
  }
  .thaina {
    font-size: 12px;
  }
}

@media (max-width: 580px) {
  footer {
    height: 110px;
  }
  .logo-rodape {
    width: 50px;
  }
  .rodape {
    margin: 0 50px;
  }
}
